/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2017, 12:31:21 PM
    Author     : nyasarap
*/

html, body, #routingContainer, .responsive-height {
    height: 100vh;
}

.page-content {
    height: 100vh;
}

.admin-page, .landing-page {
    padding: 10px;
}

.disable-actions {
    pointer-events: none;
    opacity: 0.5;
}

.mainBackGroundImage {
    background-image:url('../img/Main_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #335C62 !important;
}

.standard-button {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    cursor: pointer;
    color: white;
}

.standard-button span{
    margin-top: 15px;
}

.preloader-container {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.preloader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid black;
    border-bottom: 8px solid black;
    width: 60px;
    height: 60px;
    margin-left: calc(50% - 30px);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}